<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <a href="https://twitter.com/stefannhs" target="_blank" rel="noreferrer noopener">
                <img src="../../../assets/icons/twitter.svg" width="32" height="32" />
            </a>
            <a href="https://github.com/stefannieuwenhuis" target="_blank" rel="noreferrer noopener">
                <img src="../../../assets/icons/github.svg" width="32" height="32" />
            </a>
            <a href="https://www.linkedin.com/in/stefannhs" target="_blank" rel="noreferrer noopener">
                <img src="../../../assets/icons/linkedin.svg" width="32" height="32" />
            </a>
            <p>© Stefan Nieuwenhuis 2019</p>
        </div>
    </div>
</footer>