:root {
    --color-red: #e4032f;
    --color-orange: #fa7625;
    --color-yellow: #FADA28;
    --color-blue: #38B1DB;
    --color-green: #008A41;
    --color-white: #ffffff;
    --color-black: #444444;
}