<nav class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="./assets/logo-condensed.svg" />
            <span class="navbar-brand__text is-hidden-mobile">stefannieuwenhuis.dev</span>
        </a>

        <a role="button" [ngClass]="{'navbar-burger burger': true, 'is-active': isActive}" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample" (click)="toggleActive()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" [ngClass]="{'navbar-menu' : true, 'is-active': isActive }">
        <div class="navbar-start">
            <!-- <a routerLink="/about" routerLinkActive="is-active" class="navbar-item">About</a> -->
            <!-- <a routerLink="/speaking" routerLinkActive="is-active" class="navbar-item">Speaking</a> -->
            <a routerLink="/blog" routerLinkActive="is-active" class="navbar-item">Writing</a>
            <!-- <a routerLink="/contact" routerLinkActive="is-active" class="navbar-item">Contact</a> -->
        </div>
    </div>
</nav>