@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:900&display=swap');

.navbar-brand__text {
    font-family: 'Encode Sans Condensed', sans-serif;
    margin-left: 1em;
    color: white;
}