@import 'styles/scss/bundle';
@import url('https://fonts.googleapis.com/css?family=Sofia');

html, body{
    /* display: flex; 

    // align-items: center;
    // justify-content: center;
    
    // width: 100%;
    // height: 100%;
    */
    
    background: var(--color-blue);
}

.section {
    width: 100%;
}

.card{
    min-width: 50%;
    font-family: 'Sofia',  cursive;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    color: var(--color-white);
    background: var(--color-red);

    box-shadow: 2px 2px 5px 0px var(--color-black);
    z-index: 100;
}

.timeline {
    ul {
        padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
        position: relative;
        
        &:before {
            content: ' ';
      height: 100%;
      width: 1px;
      background-color: green;
      position: absolute;
      top: 0;
      left: 2.5em;
      z-index: -1;
        }
    }
}
