@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

:root {
    --color-red: #e4032f;
    --color-orange: #fa7625;
    --color-yellow: #FADA28;
    --color-blue: #38B1DB;
    --color-green: #008A41;
    --color-white: #ffffff;
    --color-black: #444444;


    --font-family-headings: 'Roboto', sans-serif;


    --font-family-body: 'Montserrat', sans-serif;
}